#chat-screen .status-bar,
#chat-screen .alt-header {
  top: 0;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
}
.alt-header__column .fa-bars {
  margin-left: 30px;
}

#chat-screen {
  background-color: #abc1d1;
  height: 10000vh;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.chat-main {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 20px;
}

@keyframes fadeInrow1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.message-column {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  animation: fadeInrow1 0.5s ease-in-out forwards;
  transform: translateX(-50px);
}

.message-column img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin-right: 10px;
}

.message-content__name {
  opacity: 0.8;
}

.message-content__contents {
  margin-top: 5px;
  display: flex;
  align-items: flex-end;
}
.message-content__hi {
  background-color: white;
  padding: 10px 12px;
  border-radius: 12px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message-content__time {
  opacity: 0.8;
  font-size: 13px;
}

@keyframes fadeInrow2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.message-column2 {
  transform: translateX(50px);
  justify-content: flex-end;
  animation: fadeInrow2 0.5s ease-in-out forwards;
  animation-delay: 1s;
}

.message-column2 .message-content__hi {
  background-color: var(--yellow);
  border-top-left-radius: 12px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-column2 .message-content__contents {
  flex-direction: row-reverse;
}

.chat-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 6px 20px;
  width: 100%;
  box-sizing: border-box;
}

.chat-form__column:first-child {
  width: 10%;
  opacity: 0.6;
}

.chat-form__column:last-child {
  width: 90%;
  position: relative;
}

.chat-form__column input {
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.chat-form__column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.chat-form__column:last-child > i,
.chat-form__column:last-child button {
  position: absolute;
  right: 2px;
  bottom: 4px;
}

.chat-form__column:last-child > i {
  right: 43px;
  bottom: 10px;
  opacity: 0.7;
}

.chat-form:focus-within .chat-form__column:first-child,
.chat-form:focus-within .chat-form__column:last-child > i,
.chat-form:focus-within .chat-form__column:last-child button {
  opacity: 0;
}

.chat-form:focus-within .chat-form__column input {
  width: 94vw;
  transform: translateX(-12%) translateY(-80px);
}

.chat-form:focus-within {
  transform: translateY(80px);
}
