#no-computer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

@media screen and (max-width: 500px) {
  #no-computer {
    display: none;
  }
}
